.App {
  width: 100%;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.nav {
  backdrop-filter: blur(40.7742px);
  background: rgba(255, 255, 255, 0.04);
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav {
    width: 1110px;
  }
}

.selected {
  border-bottom: 3px solid lightgray;
}

.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}
.crew {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
}
.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}
.technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}
